---
import { Instagram, Linkedin } from "@lucide/astro";
---

<header class="w-full p-6 lg:px-0 pt-20">
    <div
        class="lg:max-w-7xl mx-auto flex justify-between items-center text-white"
    >
        <a href="/" class="text-6xl font-semibold">Finnegans</a>
        <nav class="hidden md:flex items-center space-x-8 text-white/90">
            <Linkedin />
            <Instagram />
        </nav>
    </div>
</header>
